.vh-100 {
  min-height: 100vh;
}

.noto-sans {
  font-family: 'Noto Sans TC';
}

.noto-serif {
  font-family: 'Noto Serif TC';
}

.rotate-2 {
  transform: rotate(2deg);
}

.rotate--2 {
  transform: rotate(-2deg);
}

.sparkler {
  max-width: 24px;
  max-height: 24px;
}

.sparkler-w-32 {
  max-width: 32px;
  max-height: 32px;
}