<footer class="footer py-8 py-md-9 border-3 border-primary border-top">
  <div class="container">
    <p class="fs-9 fs-md-8 noto-sans text-center">© 7TAO七逃. All Rights Reserved</p>
  </div>
</footer>