<div class="container">
  <header>
    <div class="logoGroup">
      <a class="d-flex" href="index.html"><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
          alt="logo">
        <h1>7TAO </h1>
        <p>活動訂票網</p>
      </a>
    </div>
    <div class="loginGroup">
      <i class="icofont-ui-file"></i>
      <i class="icofont-ui-user"></i>
    </div>
  </header>
</div>