<header class="py-8">
  <div class="container d-flex  align-items-center justify-content-between">
    <div class=" logoSection d-flex align-items-center">
      <a class="logo d-flex align-items-center me-12" href="index.html">
        <img class="me-5"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
          alt="logo">
        <h1 class="fs-3 text-primary">7TAO </h1>
        <p class="fs-7 fw-bold text-primary ms-1">活動訂票網</p>
      </a>
      <div class="searchSection d-flex justify-content-between align-items-center">
        <p>探索活動</p>
        <a class="d-block p-3 p-lg-5 bg-primary" href="#">
          <i class="icofont-search-1"></i>
        </a>
      </div>
    </div>

    <div class="loginSection d-flex">
      <div class="fileGroup me-8">
        <i class="icofont-ui-file"></i>
        <span>REGISTER</span>
      </div>
      <div class="userGroup">
        <i class="icofont-ui-user"></i>
        <span>LOGIN</span>
      </div>
    </div>
  </div>
</header>